body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    line-height: 1.6em;
}
.container{
    width : 80%;/* this will make the width 80 % of the available width works with shrkinking and making screen bigger*/
    margin: auto;
    overflow: hidden;

}

h1{
   color: green;
}

p{
    border: 3px solid gray; 
    padding: 10px 20px 10px 20px;
    margin: 40px; 
}



/* 
Unit of measurement
px vs em 
em- relative unit relative to another length value.
example font size= 16pm then 1 em would=16px 
0.5 em would = 8 px. 
Padding is always top - clockwise top then right then bottom then left. 
Margin is from top down. moves boarder paragraph down
* Padding is inside the boarder and margin is outside the boarder.
*/